body {
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-color: aliceblue;
    background-size: cover;
}
.block {
    border-radius: 15px;
    padding: 10px;
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 1067px;
}
p{
    text-shadow: 2px 2px 4px #484848;
}
